In [1]:
#Import statements
import geopandas
import pandas as pd
import requests
from shapely.geometry import Point

In [2]:
#Make API request
request_obj = requests.get("https://phl.carto.com/api/v2/sql?q=SELECT * FROM incidents_part1_part2 WHERE dispatch_date_time >= '2011-01-01' AND dispatch_date_time < '2016-01-01'")
request_json = request_obj.json()

In [3]:
#Convert rows (in dict) to df
df = pd.DataFrame.from_dict(request_json['rows'])

#Drop rows missing location data
df = df.dropna(subset=["point_x", "point_y"])

#Reshape to group by year and crimes for each geo
df['year'] = pd.to_datetime(df['dispatch_date_time']).dt.year
grouped_df = df.groupby(['year','point_x','point_y']).size().reset_index(name='crime_count')

#Convert to geodf

grouped_df['geometry'] = [Point(xy) for xy in zip(grouped_df.point_x, grouped_df.point_y)]
grouped_df.head(1)

   year    point_x    point_y  crime_count                          geometry
0  2011 -75.275694  39.977272            1  POINT (-75.27569444 39.97727246)

In [4]:
crime_geo = geopandas.GeoDataFrame(grouped_df, geometry='geometry')
crime_geo.head(1)

   year    point_x    point_y  crime_count                          geometry
0  2011 -75.275694  39.977272            1  POINT (-75.27569444 39.97727246)

In [5]:
#load the evictions data (from geojson) into a geodf
evictions = geopandas.read_file('data/block-groups.geojson')[['GEOID','geometry']]

In [6]:
#Merge the geodfs
eviction_merge = geopandas.sjoin(crime_geo, evictions, how="inner", op='intersects')

/anaconda3/envs/exe/lib/python3.7/site-packages/geopandas/tools/sjoin.py:44: UserWarning: CRS of frames being joined does not match!
  warn('CRS of frames being joined does not match!')

In [7]:
eviction_merge.head(1)

,year,point_x,point_y,crime_count,geometry,index_right,GEOID
0,2011,-75.275694,39.977272,1,POINT (-75.27569444 39.97727246),7939,421010098022

In [8]:
#Reshape to get year- bloc_id - count of crimes
eviction_grouped = eviction_merge.groupby(['year','GEOID'])['crime_count'].sum().reset_index(name='crime_count')

In [9]:
eviction_grouped

      year         GEOID  crime_count
0     2011  420171014012            1
1     2011  420454021001            4
2     2011  420454023001            4
3     2011  420912001041            2
4     2011  420912001051            3
5     2011  420912019021            1
6     2011  420912020002            1
7     2011  420912022011            1
8     2011  420912022013            1
9     2011  420912022014           21
10    2011  420912022021            2
11    2011  420912022022            1
12    2011  420912024012            3
13    2011  420912024025            7
14    2011  420912025001           11
15    2011  420912025002            3
16    2011  420912043001           16
17    2011  420912043002           10
18    2011  420912045002            2
19    2011  420912045004            1
20    2011  420912054002            2
21    2011  420912055032            7
22    2011  420912103003            2
23    2011  420912104002            1
24    2011  420912105001            1
25    2011  420912105004            1
26    2011  421010001001          351
27    2011  421010001002          241
28    2011  421010002001          569
29    2011  421010003001          546
...    ...           ...          ...
6745  2015  421010385002           56
6746  2015  421010386001           53
6747  2015  421010387001           53
6748  2015  421010387002           61
6749  2015  421010388001           37
6750  2015  421010388002           53
6751  2015  421010388003           48
6752  2015  421010388004           34
6753  2015  421010389001          234
6754  2015  421010389002           97
6755  2015  421010389003           81
6756  2015  421010390001          599
6757  2015  421010390002          100
6758  2015  421010390003           68
6759  2015  421010390004          106
6760  2015  421010390005           43
6761  2015  421010390006          133
6762  2015  421010390007          144
6763  2015  421010390008          112
6764  2015  421019800001          626
6765  2015  421019801001           56
6766  2015  421019802001           73
6767  2015  421019803001          222
6768  2015  421019804001          362
6769  2015  421019805001           74
6770  2015  421019806001          262
6771  2015  421019807001          749
6772  2015  421019808001           85
6773  2015  421019809001          777
6774  2015  421019891001          329

[6775 rows x 3 columns]